@import url("//fonts.googleapis.com/css?family=Crimson+Text");

@font-face {
  font-family: 'Archer-Semibold';
  src: url('../fonts/Archer-Semibold.eot');
  src: url('../fonts/Archer-Semibold.woff2') format('woff2'),
       url('../fonts/Archer-Semibold.woff') format('woff'),
       url('../fonts/Archer-Semibold.ttf') format('truetype'),
       url('../fonts/Archer-Semibold.svg#Archer-Semibold') format('svg'),
       url('../fonts/Archer-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Archer-Medium';
  src: url('../fonts/Archer-Medium.eot');
  src: url('../fonts/Archer-Medium.woff2') format('woff2'),
       url('../fonts/Archer-Medium.woff') format('woff'),
       url('../fonts/Archer-Medium.ttf') format('truetype'),
       url('../fonts/Archer-Medium.svg#Archer-Medium') format('svg'),
       url('../fonts/Archer-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-size: 18px;
  font-family: "Archer-Medium", Times, serif;
}

.masthead-brand {
  color: #BFA26B;
}

.masthead-nav > .active > a, .masthead-nav > .active > a:hover, .masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #BFA26B;
}

.home h1 {font-size:4em;letter-spacing: -2px;word-spacing: -2px;color: #BFA26B}

.modal-content {
    color: #333;
}

.modal-header {
	text-shadow: none;
}

.modal-body, .modal-footer {
	font-weight: normal;
	text-shadow: none;
	text-align: left;
}

blockquote {
	border-left:none;
	padding: 0 20px;
	margin:0 0 10px;
	font-size:inherit;
}

.home {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bg-home.jpg") no-repeat top center fixed;
  opacity: 0
}

.secondary h1 {
  text-align: left;
}

.about {
  text-align: left;
}

.about p, .music p, .music ol {
  font-size: 16px;
}

.site-wrapper-inner.music {
  vertical-align: 0;
}

album img {
  cursor: pointer;
}

album img:hover {
    box-shadow: 0 0 2em #666;
}

.cover a {
  text-decoration: underline;
}

.cover h2 a {
  text-decoration: none;
}

.music h2 {
  font-size:1em;
}

.mastfoot.music, .masthead.music {
  position: relative;
}

/*Signup form*/
#mc_embed_signup form {
  padding: 0;
}

#mc_embed_signup input.button {
  color: #333;
  width: auto;
  margin-top: .5em;
}

#mc_embed_signup .button:hover {
    background-color: #777;
}

#mc_embed_signup input.email {
  color: #333;
}

/* Home Page Ribbon */
.css-ribbon {
    position: relative;
    z-index: 1;
}

.bsribbon {
    width: 90%;
    position: relative;
    background: #0CC5F4;
    color: #fff;
    text-align: center;
    padding: .5em;
    margin: 2em auto 3em;
}

.bsribbon:before, .bsribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -.5em;
    border: 1em solid #04A8D1;
    z-index: -1;
}

.bsribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}

.bsribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}

.bsribbon .ribbon-content:before, .bsribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #088EB0 transparent transparent transparent;
    bottom: -1em;
}

.bsribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.bsribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

@media (max-width: 768px) {
  .bsribbon:before, .bsribbon:after {
    display: none;
  }
  .bsribbon {
    border-radius: 4px;
  }
}

@media (max-width: 992px) {
  .secondary h1 {
    text-align: center;
  }

  .site-wrapper-inner.music {
    vertical-align: middle;
  }
}
