/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-size: 18px;
  font-family: "Crimson Text", Times, serif;
  text-transform: uppercase;
}

p.lead {
  margin-top: 0;
  font-size: 1.5em;
}

ul.list-unstyled {
  list-style: none;
  padding: 0;
}

.masthead-brand {
  color: #BFA26B;
}

.home h1 {
  font-size:4em;
  font-weight: normal;
  margin-bottom: 0;
}

.home h2 {
  padding-top: 2em;
}

.secondary h1 {
  text-align: left;
}

.about {
  text-align: left;
}

.about p, .music p, .music ol {
  font-size: 16px;
}

album img {
  cursor: pointer;
}

album img:hover {
    box-shadow: 0 0 2em #666;
}

.cover a {
  text-decoration: underline;
}

.cover h2 a {
  text-decoration: none;
}

.music h2 {
  font-size:1em;
}

.mastfoot.full, .masthead.full {
  position: relative;
}

/*Signup form*/
#mc_embed_signup form {
  padding: 0;
}

#mc_embed_signup input.button {
  color: #333;
  width: auto;
  margin-top: .5em;
}

#mc_embed_signup .button:hover {
    background-color: #ddd;
}

#mc_embed_signup input.email {
  color: #333;
}

/* Home Page Ribbon */
.css-ribbon {
    position: relative;
    z-index: 1;
}

.bsribbon {
    width: 90%;
    position: relative;
    background: #BFA26B;
    color: #fff;
    text-align: center;
    padding: .5em;
    margin: 2em auto 3em;
}

.bsribbon a {
  color: #fff;
}

.bsribbon:before, .bsribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -.5em;
    border: 1em solid #b79657;
    z-index: -1;
}

.bsribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}

.bsribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}

.bsribbon .ribbon-content:before, .bsribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #b79657 transparent transparent transparent;
    bottom: -1em;
}

.bsribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.bsribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

@media (max-width: 768px) {
  .bsribbon:before, .bsribbon:after {
    display: none;
  }
  .bsribbon {
    border-radius: 4px;
  }
}

@media (max-width: 992px) {
  .secondary h1 {
    text-align: center;
  }

  .site-wrapper-inner.full {
    vertical-align: middle;
  }
}
